body {
    margin: 0%;
}

/* Desktop Version */
@media (min-width: 950px){
    .header{
        background-image: url('https://andreatech.github.io/andrealabs.github.io/img/Background.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        width: 100%;
        height: 100vh;
    }

    .navbar {
        font-family: Montserrat, sans-serif;
        font-weight: bold;
        color: rgb(43,43,43);
    }

    .nav-link {
        font-style: normal;
        color: rgb(43,43,43);
    }

    #navbar-text {
        text-decoration: underline;
    }

    #navcol-1 {
        margin-right: 20px;
    }

    #navcol-2 {
        margin-left: 20px;
    }

    .image {
        background-image: url('/img/polli.jpg');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        border-color: rgb(43,43,43);
        border-radius: 100%;
        border: 2px solid;
        height: 410px;
        width: 410px;
        margin-top: 5%;
    }
}


/* mobile version */
@media (max-width: 948px){
    .header {
        background-color:  rgb(43,43,43);
        background-image: none;
        width: 100%;
        height: 100vh;
    }

    .image {
        display: none;
    }
}
